@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");

.mont {
  font-family: "Montserrat", sans-serif;
}

.marg {
  margin-right: 30px;
  margin-bottom: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
